{% extends 'blog/base.html' %}

{% load markup_tags %}

{% block content %}
    {% for project in projects %}
        <div class="project">
            <h1><a href="{% url 'portfolio:project_detail' pk=project.pk %}">{{ project.title }}</a></h1>
            {% if project.image %}
                <img src={{ project.image.url }}>
            {% endif %}
            <p>
                {{ project.text|apply_markup:'restructuredtext'}}
            </p>
        </div>
    {% endfor %}

{% endblock %}
