{% extends 'blog/base.html' %}

{% block content %}

    <h1>About</h1>

    <img class="img-responsive" id="about-img" src="/static/code_happy.jpg"></img>
    <p class="about-graf">
    Hi! My name is Jennifer, and I am a software engineer with a background in 
    <a href="http://www.ece.ufl.edu/">electrical engineering</a>. I spent several years
    <a href="https://www.nostarch.com/">editing technical books</a>, and for
    a while, I was a freelance technical editor and writer. After that, I spent
    well over a year teaching full-stack web development in Python and JavaScript as
    a lab instructor at <a href="https://hackbrightacademy.com/">Hackbright Academy</a>.
    </p>
 
    <p class="about-graf">
    I love Python, and I'm still building apps in it today. Beyond maintaning my Python
    skills, my engineering interests include back-end web development, infosec, databases, 
    and infrastructure. One of these days I'll re-learn Java and C, and I'm trying to
    decide on a functional programming language to pick up.
    </p>

    <p class="about-graf">
    <b>I'm currently seeking my next adventure in software engineering! If you're 
    hiring, don't hesitate to drop a line on <a href=https://www.linkedin.com/in/jgriffithdelgado/>LinkedIn</a>.</b>
    </p>

    <p class="about-graf">
    I started my original <a href="http://jgriffith23.github.io/">GitHub
    blog</a> to document my experiences as a student at Hackbright.
    Post-graduation, I built this Django site to try out a new framework.  
    I'm moving the old material over (still a work in progress) and will 
    continue using the blog to:
    </p>
    
    <p>
    <ul>
      <li>
        Reflect on experiences I have in the tech space
      </li>

      <li>
        Keep my writing skills (both technical and non-technical) fresh
      </li>

      <li>
        Practice explaining concepts about software and hardware
      </li>
    </ul>
    </p>

    <p>
    When I’m not coding, you can find me poking at stuff with a
    multimeter (or sonic screwdriver), on a crafting adventure involving LEDs
    and thread, out for a run, or enjoying some tea.
    </p>

    <p>
    Allons-y!
    </p>

{% endblock %}
