{% extends 'blog/base.html' %}

{% block content %}

    <h1>About</h1>

    <p>
    Hi, I’m Jennifer. I have a degree in <a href="http://www.ece.ufl.edu/">
    electrical engineering</a>, I spent several years
    <a href="https://www.nostarch.com/">editing technical books</a>, and for
    a while, I was a freelance technical editor and writer.
    </p>

    <p>
    I still enjoy writing and editing, but since graduating from <a href
    ="https://hackbrightacademy.com/">Hackbright Academy</a>, I’ve changed
    careers. Now, I’m a software engineer and lab instructor at Hackbright. I
    still like building hardware stuff, too; I’m just much better at programming
    these days, and I can also build webapps.
    </p>

    <p>
    I started my original <a href="http://jgriffith23.github.io/">GitHub
    blog</a> to document my experiences at Hackbright.
    Post-graduation, I built this Django site, am moving the material over
    (still a work in progress), and will continue using the blog to:
    </p>

    <ul>
      <li>
        Reflect on experiences I have in the tech space
      </li>

      <li>
        Keep my writing skills (both technical and non-technical) fresh
      </li>

      <li>
        Practice explaining concepts about software and hardware
      </li>
    </ul>

    <p>
    When I’m not coding or editing, you can find me poking at stuff with a
    multimeter (or sonic screwdriver), on a crafting adventure involving LEDs
    and thread, out for a run, or enjoying some tea.
    </p>

    <p>
    Allons-y!
    </p>

{% endblock %}