{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <link rel="stylesheet" href="{% static 'css/pygments-long.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:700|Lato" rel="stylesheet">
    <title>Jennifer's Blog</title>
</head>
<body>
    <div class="page-header">        
        <nav class="navbar navbar-default">
            <h1 class="navbar-brand"><a href="/">Jennifer's Blog</a></h1>
            <div class="container-fluid">
                {% if request.user.is_staff %}
                    <div class="top-menu">
                        <a class="navbar-text" href="{% url 'blog:post_new' %}"><span class="glyphicon glyphicon-plus"></span></a>
                        <a class="navbar-text" href="{% url 'blog:logout' %}">Logout</a>
                    </div>
                {% else %}
                    <a href="{% url 'blog:login' %}" class="top-menu">Log In</a>
                {% endif %}
            </div>
        </nav>
    </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>