{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <link rel="stylesheet" href="{% static 'css/pygments-long.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:700|Lato" rel="stylesheet">
    <script src="https://use.fontawesome.com/ea2a57b98e.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <title>Jennifer's Blog</title>
</head>
<body>



    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <h1><a class="navbar-brand" href="/">Jennifer's Blog</a></h1>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a class="top-menu" href="/about">About</a></li>
            <li><a class="top-menu" href="{% url 'portfolio:project_list' %}">Projects</a></li>
            <li><a class="top-menu" href="/static/resume/JGDResumeDec2017.pdf">Resume</a></li>
            {% if request.user.is_staff %}
                <li><a class="top-menu" href="{% url 'blog:post_new' %}">New</a></li>
            {% endif %}
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div class="content container">
        <div class="row">
            <div class="col-md-8">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
    <br>
    <br>
    <footer class="footer">
	<hr>
        <div class="container">
            <p class="text-muted">
              Contact:
              <a href="https://twitter.com/jennifergd_42">
                <i class="fa fa-twitter" aria-hidden="true"></i> @jennifergd_42 
              </a> | 
              <a href="https://github.com/jgriffith23/">
                <i class="fa fa-github" aria-hidden="true"></i> jgriffith23 
              </a> |
              <a href="https://www.linkedin.com/in/jgriffithdelgado/">
                <i class="fa fa-linkedin-square" aria-hidden="true"></i> LinkedIn
              </a> |
              <a href="https://angel.co/jennifer-griffith-delgado">
                <i class="fa fa-angellist" aria-hidden="true"></i> AngelList
              </a>
            </p>
        </div>
    </footer>
</body>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</html>
