/* 
    Parts of this CSS are gratefully borrowed from the Django Girls blog tutorial,
    which you can find here: https://tutorial.djangogirls.org/en/css/
*/

/* Universal styles: Post headings, and the running body font. */


/* The Big Purple Bar <3 */

nav.navbar.navbar-default {
    background-color: #8c2ca4;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
    border-radius: 0;
    background-image: none;
    box-shadow: none;
}

nav.navbar.navbar-default h1, nav.navbar.navbar-default h1 a {
    color: #ffffff;
    font-size: 1.75em;
    text-decoration: none;
}

.top-menu, .top-menu:hover, .top-menu:visited, .navbar-default .navbar-nav>li>a {
    color: #ffffff;
    font-size: 2em;
    margin-right: 20px;
    margin-top: 20px;
    font-family: 'Josefin Sans', sans-serif;
}

/* General content formatting. */

body {
    padding-left: 15px;
    font-family: 'Lato';
    background-color: #f6f0f9;
}

.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family: 'Josefin Sans', sans-serif;
}

.document>h1 {
    font-size: 1em;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited, .project h1 a {
    color: #000000;
}

.post .document .section h1 {
    font-size: 1.75em;
}

.post .document .section .section h2 {
    font-size: 1.5em;
}

.post .document .section .section .section h3 {
    font-size: 1.333em;
}

.errorlist {
    color: #d70000;
    list-style: none;
    border-radius: .5em;
    border-width: thin;
    border-style: solid;
    padding: .5em;
    background-color: #ffddd8;
}

nav>ul.pagination>li>a {
    color: #8c2ca4;
}

/* Img formatting */

.align-center {
    display: block;
    margin: auto;
    width: 40%;
}
